@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1476079237_2084963.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1476079237_2084963.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1476079237_2084963.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1476079237_2084963.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1476079237_2084963.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
.iconfont{
	font-family:"iconfont";
	font-size:1rem;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
}