.mint-header{
	background-color: #fff;
	color:#333;
	height: 2.4rem;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.mint-header-title{
	font-size: .9rem;
}
.mint-button{
	line-height: 1;
}
.msgbox-btn{
	font-size: .7rem;
}
.msgbox-message{
	color: #333
}
.mint-cell{
	font-size: .7rem;
}
.page .mint-field .mint-cell:after{
	border-top: none
}
.mint-cell-text{
	color: #333
}
.mint-cell-value{
	color: #585858
}
.button-cyan{
	border: 1px solid #69DBB8;
	color: #69DBB8;
}
.button-grey{
	border: 1px solid #d7d7d7;
	color: #d7d7d7;
}
.mint-checkbox-core:checked {
	background-color: #585858;
    border-color: #585858;
}
.v-modal{
	opacity: .2
}
.sw-spinner{
	height: inherit;
}
.mint-toast{
	position: absolute;
	z-index:3000;
}

.mint-indicator-mask, .mint-indicator-wrapper{
	position: absolute;
	z-index: 6666;
}

.mint-navbar .mint-tab-item.is-selected{
	border-bottom: 3px solid #f56f1c;
	color: #f56f1c;
}

.mint-tab-item-label{
	font-size: .7rem
}

.mint-header .mint-button.left{
    width: 100%;
    text-align: left;
}
/* cell */
.mint-cell-allow-right:after {
    border: 1px solid #999;
    border-bottom-width: 0;
    border-left-width: 0;
    content: " ";
    top: 50%;
    right: 14px;
    position: absolute;
    width: 6px;
    height: 6px;
    -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
    transform: scale(1); 
    transform: translateY(-50%) rotate(45deg); 
}

.mint-field .mint-cell-title{
	padding-left:1rem
}

.mint-cell-value .mt-range{
	width:100%	
}
.mt-range-progress{
	background-color: #0083ff
}
.mt-progress-progress{
	background-color: #11ee88
}
input:disabled, textarea:disabled {
    color: #555;
}
input[disabled]{
    color: #555;
}
/*email input*/
#emailFeild label.mint-cell-title{
    width:20%;
  }

#myCarList .mint-cell::before{
	border-bottom:0 !important;
}