.top-gap 
    margin-top 16px
.mint-datetime .picker-toolbar
    height 0
.box
    /*
    * flex-direction: 主轴方向;
    * flex-wrap: 换行;
    * justify-content: 主轴方向对齐;
    * align-items: 交叉轴方向对齐;
    */
    display -webkit-flex
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content flex-start
    align-items flex-start
    padding .8rem .5rem
    background-color #fff
    position relative
    &:active
        background-color #eee
    &:after
        color #d9d9d9
        content " "
        width 100%
        height 1
        border-top 1px solid
        left 0
        bottom 0
        position absolute
        -webkit-transform-origin 0 0
        transform-origin 0 0
        transform scaleY(.5)
        
.flex-item
    flex 1 1 auto        